/* about */

.about {
    margin-top: 30px;
    margin-bottom: 40px;
}

.about .icon-app {
    width: 100%;
    height: 100px;
    background: url(/assets/itsium-logo@2x.jpg) center center no-repeat;
    background-size: 100px 100px;
    border-radius: 12px;
    display: inline-block;
    margin: 0;
}

.desc-app {
    height: 72px;
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.title-app {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

.date-app {
    color: #bbb;
    font-size: 16px;
    line-height: 32px;
}

.about-devby {
    font-size: 80%;
    text-align: center;
    padding: 20px;
}

.about-devby a {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
    color: #34495e;
}