/* news */
.ui-header .ui-title {
  font-size: 18px;
}

.news-listing-empty {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.news-detail p img,
.news-detail span img {
  text-align: center;
}
.news-detail img {
  max-width: 100%;
  margin: 0px auto !important;
}
.news-listing-empty .icon {
  font-size: 280px;
  line-height: 200px;
  text-align: center;
  width: 100%;
  color: #eee;
}
.news-listing-empty .message {
  width: 100%;
  display: block;
  text-align: center;
  font-style: italic;
  color: #ddd;
  font-size: 23px;
}
.news-detail-map-image {
  max-width: 400px;
  width: 100%;
  height: 200px;
  margin: 5px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #e6e6e6;
}
.news-image-thumb {
  width: 60px;
  height: 60px;
  margin: 1px 20px 0 0;
  border: 1px solid #e6e6e6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  float: left;
}
.news-header-arrow {
  font-size: 26px;
  display: inline-block;
  padding-left: 3px;
}
.pastille {
  display: inline-block;
  font-size: 24px;
  padding-right: 10px;
  opacity: 0.8;
}
.is-fav {
  opacity: 1;
  color: #fff;
}
.categorylist .list-item {
  font-family: Lato, sans-serif;
  font-size: 18px;
}
.categorylist .list-item:last-child {
  border: 0px;
}
.pastille-red {
  color: #e74c3c;
}
.pastille-blue {
  color: #2980b9;
}
.pastille-orange {
  color: #f39c12;
}
.pastille-yellow {
  color: #27ae60;
}
.news-item-arrow {
  color: #bbb;
  font-size: 44px;
}
.news-item-favorite {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 13px;
  font-size: 28px;
  line-height: 18px;
  margin-top: -32px;
  color: #bbb;
}
.news-item-color {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  display: inline-block;
  z-index: 1;
  border-bottom: 1px solid #fff !important;
}
.news-item-red {
  background: #e74c3c;
}
.news-item-blue {
  background: #2980b9;
}
.news-item-orange {
  background: #f39c12;
}
.news-item-yellow {
  background: #27ae60;
}
/* news detail */
.news-detail-back-btn {
  border: 0px !important;
}
.news-detail-back-btn .btn-inner {
  border: 0px !important;
}
.news-detail {
  padding: 0 10px 10px 10px;
  /* avoid x scrolling */

  word-wrap: break-word;
}
.news-detail-date {
  font-size: 12px;
  color: #bbb;
}
.news-detail-title {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  clear: both;
}
.news-detail-medias {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.news-detail-image-separator {
  width: 70%;
  margin: 15px auto;
  color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0 0;
}
.news-detail-content {
  font-size: 17px;
  color: #333;
}
