/* new flatui ui */
.ui-bar-cleanlist {
  border: 1px solid #fdfdfd;
  background: #fdfdfd;
  color: #34495e;
  font-weight: bold;
  font-family: Lato, sans-serif;
}
.ui-bar-cleanlist .ui-link-inherit {
  color: #3e3e3e;
}
.ui-bar-cleanlist a.ui-link {
  color: #7cc4e7;
  font-weight: bold;
}
.ui-bar-cleanlist a.ui-link:visited {
  color: #cacaca;
}
.ui-bar-cleanlist a.ui-link:hover {
  color: #cacaca;
}
.ui-bar-cleanlist a.ui-link:active {
  color: #cacaca;
}
.ui-bar-cleanlist input,
.ui-bar-cleanlist select,
.ui-bar-cleanlist textarea,
.ui-bar-cleanlist button {
  font-family: Lato, sans-serif;
}
.ui-body-cleanlist,
.ui-overlay-cleanlist {
  border: 2px solid #2ecc71;
  color: #34495e;
  background: #fff;
  background-image: none;
}
.ui-body-cleanlist {
  font-family: Lato, sans-serif;
}
.ui-body-cleanlist input,
.ui-body-cleanlist select,
.ui-body-cleanlist textarea,
.ui-body-cleanlist button {
  font-family: Lato, sans-serif;
}
.ui-body-cleanlist .ui-link-inherit {
  color: #333;
}
.ui-body-cleanlist .ui-link {
  color: #2ecc71;
  font-weight: bold;
}
.ui-body-cleanlist .ui-link:visited,
.ui-body-cleanlist .ui-link:hover,
.ui-body-cleanlist .ui-link:active {
  color: #55d98d;
}
.ui-body-cleanlist.ui-input-text {
  border: 2px solid #eee;
}
.ui-body-cleanlist.ui-input-text.ui-focus {
  border: 2px solid #55d98d;
  -webkit-transition: border linear .2s;
  -moz-transition: border linear .2s;
  -o-transition: border linear .2s;
  transition: border linear .2s;
}
.ui-btn-up-cleanlist {
  border: 1px solid #e9e9e9;
  background: #fdfdfd;
  font-weight: bold;
  color: #34495e;
  text-decoration: none;
}
li.ui-btn-up-cleanlist {
  border-bottom-width: 0px;
  border-top: 1px solid #e9e9e9;
}
li.ui-li-divider.ui-btn-up-cleanlist:first-child {
  border-top-width: 0px;
  border-bottom-width: 0px;
}
li.ui-btn-up-cleanlist:last-child {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.ui-btn-up-cleanlist .ui-li-desc {
  color: #cccccc;
}
.ui-btn-up-cleanlist:visited,
.ui-btn-up-cleanlist a.ui-link-inherit {
  color: #b1b1b1;
}
.ui-btn-hover-cleanlist {
  border: 1px solid #55d98d;
  background: #55d98d;
  font-weight: bold;
  color: #fff;
}
.ui-btn-hover-cleanlist:visited,
.ui-btn-hover-cleanlist:hover,
.ui-btn-hover-cleanlist a.ui-link-inherit {
  color: #b1b1b1;
}
.ui-btn-down-cleanlist {
  border: 1px solid #55d98d;
  background: #55d98d;
  font-weight: bold;
  color: #fff;
}
.ui-btn-down-cleanlist:visited,
.ui-btn-down-cleanlist:hover,
.ui-btn-down-cleanlist a.ui-link-inherit {
  color: #fff;
}
.ui-btn-up-cleanlist,
.ui-btn-hover-cleanlist,
.ui-btn-down-cleanlist {
  font-family: Lato, sans-serif;
  text-decoration: none;
}
.ui-bar-cleanlist .ui-btn-up-cleanlist,
.ui-bar-cleanlist .ui-btn-down-cleanlist,
.ui-bar-cleanlist .ui-btn-hover-cleanlist {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}
