/* <collapsible> */
.ui-collapsible-content {
    border-bottom: 1px solid #eee;
}
/* </collapsible> */

/* <form> */
.ui-input-search:after {
    font-family: 'icons';
    position: absolute;
    left: 7px;
    top: 50%;
    font-size: 34px;
    line-height: 18px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    opacity: .3;
}

.ui-icon-clock,
.ui-icon-calendar,
.ui-icon-map {
    margin-top: -8px !important;
    text-shadow: 0 0 0 !important;
    font-weight: normal !important;
}

.ui-icon-clock:before,
.ui-icon-calendar:before,
.ui-icon-map:before {
    color: #34495e;
}

.btn-check {
    font-size: 22px;
    line-height: 14px;
}

.ui-icon-clock:before {
    /*content: "\1F554";*/
    content: "🕔";
    font-family: 'icons';
    font-size: 31px;
}

.ui-icon-calendar:before {
    /*content: "\1F4C5";*/
    content: "📅";
    font-family: 'icons';
    font-size: 31px;
}

.ui-icon-map:before {
    content: "\E728";
    font-family: 'icons';
    font-size: 31px;
}

.ui-icon-userfield:after {
    content: "\E722";
}

.ui-icon-keyfield:after {
    /*content: "\1F511";*/
    content: "🔑";
}

.ui-icon-mailfield:after {
    content: "\2709";
}

.ui-icon-mail2field:after {
    /*content: "\1F53F";*/
    content: "🔿";
}

.ui-icon-companyfield:after {
    /*content: "\1F6C6";*/
    content: "🛆";
}

.ui-icon-rolefield:after {
    /*content: "\1F56A";*/
    content: "🕪";
}

.ui-icon-phonefield:after {
    /*content: "\1F4F1";*/
    content: "📱";
}

.ui-icon-qqfield:after {
    font-family: "icons-social";
    content: "";
}

.ui-icon-wechatfield:after {
    font-family: "icons-social";
    content: "";
}

.ui-body-c.ui-input-search.ui-focus {
    border:2px solid #3498DB;
    -webkit-transition: border linear .5s;
    -moz-transition: border linear .5s;
    -o-transition: border linear .5s;
    transition: border linear .5s;
}

.ui-br {
    border-width: 0px;
}

.ui-field-contain, fieldset.ui-field-contain {
    padding: 5px 0;
    margin: 0;
    border-width: 0;
    overflow: visible;
}
/* </form> */

/* <separator> */
.separator {
    border-width: 0 0 1px 0;
    border-bottom: 1px dotted #ddd;
    display: block;
    width: 90%;
    height: 1px;
    margin: 15px auto 15px auto;
    padding: 0;
}

.separator-text {
    display: inline-block;
    margin-top: -25px;
    margin-left: -50px;
    padding: 0;
    color: #888;
    position: absolute;
    left: 50%;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    width: 100px;
    text-align: center;
    background: #fff;
}
/* </separator> */

.hidden {
    display: none;
}

.btn-notext .ui-btn-inner {
    padding-left: 11px !important;
}

.simple-btn-mini {
    background: transparent;
    border-color: transparent;
}

.simple-btn {
    background: transparent;
    border-color: transparent;
    opacity: 0.3;
    color: #000;
}

.simple-btn .icon {
    font-size: 60px;
}

.simple-btn-large {
    background: transparent;
    border-color: transparent;
    opacity: 0.3;
    color: #000;
}

.simple-btn-large .icon {
    font-size: 50px;
    margin-left: 5px;
}

.simple-btn-medium {
    background: transparent;
    border-color: transparent;
    opacity: 0.3;
    color: #000;
}

.simple-btn-medium .icon {
    font-size: 40px;
    margin-left: 10px;
}

/* button icon */
.override-btn-icon {
    width: 18px;
    height: 18px;
    font-size: 38px;
    line-height: 38px;
    background: transparent;
}

.override-inline-btn-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    font-size: 34px;
    line-height: 18px;
}

.ui-btn-icon-notext > .ui-btn-inner > .override-inline-btn-icon {
    font-size: 14px;
    left: 0px !important;
}

.ui-mini.ui-btn-icon-left > .ui-btn-inner > .override-inline-btn-icon {
    font-size: 28px;
    left: 5px;
}

.ui-mini.ui-btn-icon-right > .ui-btn-inner > .override-inline-btn-icon {
    font-size: 28px;
    right: 5px;
}

.ui-btn-icon-left > .ui-btn-inner > .override-inline-btn-icon {
    left: 10px;
}

.ui-btn-icon-right > .ui-btn-inner > .override-inline-btn-icon {
    right: 10px;
}

/* header / footer */

.ui-header.ui-bar-f {
    background: rgb(245,186,39);
    border-color: rgb(245,186,39) !important;
    border-bottom-color: rgb(235,176,29) !important;
    height: 48px;
    line-height: 26px;
}

.ui-header.ui-bar-c {
    height: 48px;
    line-height: 26px;
    border-bottom-color: rgb(230, 230, 230) !important;
}

.ui-header.ui-bar-g {
    border-color: darken(#2ECC71, 10%);
}

.ui-footer.ui-bar-f {
    border: 0;
    border-top: 1px solid rgb(235,176,29) !important;
    height: 50px;
}

.ui-footer .ui-btn-active {
    border-width: 0px;
    color: #fff;
    /*text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);*/
}

.ui-footer.ui-bar-f .ui-btn {
    color: rgba(0, 0, 0, 0.15);
}

.ui-footer.ui-bar-f .ui-btn-inner {
    height: 48px;
}

.ui-footer.ui-bar-f .ui-btn .icon {
    font-size: 63px;
    line-height: 50px;
    top: -1px;
    left: 50%;
    position: absolute;
    margin-left: -25.5px;
    width: 50px;
    height: 50px;
}

.ui-footer.ui-bar-f .ui-btn-active {
    background: transparent;
    color: #fff;
}