<% if user_signed_in? %>
var currentUser = {
    name: '<%= current_user.name %>',
    email: '<%= current_user.email %>',
    phone: '<%= current_user.phone %>',
    qq: '<%= current_user.qq %>',
    wechat: '<%= current_user.wechat %>',
    interested: '<%= current_user.interested %>'
};
<% end %>