{{!

    // home detail

}}<div{{> id}}>{{!

    }}{{#if data}}{{!

        }}<h2>{{data.name}}</h2>{{!

        }}<h4>{{data.address}}</h4>{{!

        }}<p>{{nl2br data.description}}</p>{{!

    }}{{/if}}{{!

}}</div>