{{!

    // news detail tpl

}}<div id="newsdetail-item" class="news-detail">{{!

    }}{{#if data}}{{!

        }}<p class="news-detail-title">{{data.title}}</p>{{!
        }}{{#hasImage data.content_medias}}{{!
            }}{{#foreach data.content_medias}}{{!
                }}<div class="news-detail-medias zoomable" style="background-image:{{!
                    }}url({{getImage ../data.content_medias $index}});"></div>{{!
                }}{{#if_eq $last compare=false}}{{!
                    }}<hr class="news-detail-image-separator">{{!
                }}{{/if_eq}}{{!
            }}{{/foreach}}{{!
        }}{{/hasImage}}{{!
        }}<p class="news-detail-content">{{nl2br data.data}}</p>{{!

    }}{{/if}}{{!

}}</div>