<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield :title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
  <div class="row">
    <div class="span10 offset1 content">
      <div class="row">
        <div class="span8 offset1">
          <h1>
            <img alt="Itsium" width="158" height="158" src="/assets/logo.png" />
          </h1>
            <%= yield %>
          <footer>
            <p>
              Copyright &copy; 北京意得捷优科技有限公司 2013
              <span class="pull-right"><a href="http://www.itsium.cn">Powered by Itsium</a></span>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
